p {
  color: red;
}
article {
  background-color: aqua;
  width: 28rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
}
